<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="monospace.css" />
    <title>Monospace Resume</title>
  </head>
  <body>
    <div id="letterhead">
      <h1 id="candidate-name">Candidate Name</h1>
      <h4 id="candidate-descriptor">Psychology Student</h4>
    </div>
    <hr id="main-divider" />
    <main>
      <div id="left-panel">
        <section id="contact">
          <h2 class="section-header">Contact</h2>
          <hr />
          <ul>
            <li class="contact-item">
              <img src="./templates/icons/phoneblack.png" class="icon" />
              <p id="phone">555-555-5555</p>
            </li>
            <li class="contact-item">
              <img src="./templates/icons/emailblack.webp" class="icon" />
              <p id="email">example@email.com</p>
            </li>
            <li class="contact-item">
              <img src="./templates/icons/locationpinblack.png" class="icon" />
              <p id="address">555 Nowhere Blvd, J1J1J1, New York, NY, USA</p>
            </li>
            <li class="contact-item">
              <img src="./templates/icons/githubblack.png" class="icon" />
              <a id="github" href="github.com/linguini1"
                >github.com/linguini1</a
              >
            </li>
            <li class="contact-item">
              <img src="./templates/icons/linkedinblack.png" class="icon" />
              <a id="linkedin" href="linkedin.com/in/matteo-golin-94118021b"
                >linkedin.com/in/matteo-golin-94118021b</a
              >
            </li>
          </ul>
        </section>
        <section id="education">
          <h2 class="section-header">Education</h2>
          <hr />
        </section>
        <section id="skills">
          <h2 class="section-header">Skills</h2>
          <hr />
          <div id="tools">
            <p class="skills-subheader">Tools</p>
          </div>
          <div id="abilities">
            <p class="skills-subheader">Abilities</p>
          </div>
        </section>
        <section id="projects">
          <h2 class="section-header">Projects</h2>
          <hr />
        </section>
        <section id="interests">
          <h2 class="section-header">Interests</h2>
          <hr />
        </section>
        <section id="references">
          <h2 class="section-header">References</h2>
          <hr />
        </section>
      </div>
      <div id="right-panel">
        <section id="profile">
          <h2 class="section-header">Profile</h2>
          <hr />
          <p id="description" class="line-space">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quia
            eos aliquam corporis rerum eum magnam, error, corrupti eligendi
            nulla perferendis obcaecati vero porro vitae! Doloribus vel soluta
            option.
          </p>
        </section>
        <section id="experience">
          <h2 class="section-header">Experience</h2>
          <hr />
        </section>
        <section id="extracurricular">
          <h2 class="section-header">Extracurricular</h2>
          <hr />
          <div class="right-panel-list-item"></div>
        </section>
        <section id="achievements">
          <h2 class="section-header">Achievements</h2>
          <hr />
        </section>
      </div>
    </main>
  </body>
</html>
