<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="monospace.css" />
    <title>Monospace Resume</title>
  </head>
  <body>
    <div id="letterhead">
      <h1 id="candidate-name">Candidate Name</h1>
      <h4 id="candidate-descriptor">Psychology Student</h4>
    </div>
    <hr id="main-divider" />
    <main>
      <div id="left-panel">
        <section id="contact">
          <h2 class="section-header">Contact</h2>
          <hr />
          <ul>
            <li class="contact-item">
              <img src="../icons/phoneblack.png" class="icon" />
              <p id="phone">555-555-5555</p>
            </li>
            <li class="contact-item">
              <img src="../icons/emailblack.webp" class="icon" />
              <p id="email">example@email.com</p>
            </li>
            <li class="contact-item">
              <img src="../icons/locationpinblack.png" class="icon" />
              <p id="address">555 Nowhere Blvd, J1J1J1, New York, NY, USA</p>
            </li>
            <li class="contact-item">
              <img src="../icons/githubblack.png" class="icon" />
              <a id="github" href="github.com/linguini1"
                >github.com/linguini1</a
              >
            </li>
            <li class="contact-item">
              <img src="../icons/linkedinblack.png" class="icon" />
              <a id="linkedin" href="linkedin.com/in/matteo-golin-94118021b"
                >linkedin.com/in/matteo-golin-94118021b</a
              >
            </li>
          </ul>
        </section>
        <section id="education">
          <h2 class="section-header">Education</h2>
          <hr />
        </section>
        <section id="skills">
          <h2 class="section-header">Skills</h2>
          <hr />
          <div id="tools">
            <p class="skills-subheader">Tools</p>
          </div>
          <div id="abilities">
            <p class="skills-subheader">Abilities</p>
          </div>
        </section>
      </div>
      <div id="right-panel">
        <section id="profile">
          <h2 class="section-header">Profile</h2>
          <hr />
          <p id="description" class="line-space">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quia
            eos aliquam corporis rerum eum magnam, error, corrupti eligendi
            nulla perferendis obcaecati vero porro vitae! Doloribus vel soluta
            option.
          </p>
        </section>
        <section id="experience">
          <h2 class="section-header">Experience</h2>
          <hr />
          <div class="right-panel-list-item">
            <h3 class="activity-header">Chef/Prep Personnel</h3>
            <div class="location-date">
              <p class="workplace">Zizis Kitchen and Wine Bar</p>
              <p>|</p>
              <p class="start-date">Jan 2019</p>
              <p>-</p>
              <p class="end-date">Present</p>
            </div>
            <ul class="highlights">
              <li>
                Employed strong time management skills in order to complete prep
                and cleaning tasks before the night service began.
              </li>
              <li>
                Developed a high degree of familiarity with kitchen equipment
                and cook times to complete meals in a timely manner for patrons.
              </li>
            </ul>
          </div>
          <div class="right-panel-list-item">
            <h3 class="activity-header">Team Member</h3>
            <div class="location-date">
              <p class="workplace">Dairy Queen Grill & Chill</p>
              <p>|</p>
              <p class="start-date">Jan 2019</p>
              <p>-</p>
              <p class="end-date">Jul 2022</p>
            </div>
            <ul class="highlights">
              <li>
                Collaborated with other team members to ensure quick completion
                of orders and closing tasks.
              </li>
              <li>
                Developed understanding of the cash register system and the
                kitchen/bar appliances for capacity to complete all store
                responsibilities and train new staff members.
              </li>
            </ul>
          </div>
        </section>
        <section id="extracurricular">
          <h2 class="section-header">Extracurricular</h2>
          <hr />
          <div class="right-panel-list-item">
            <h3 class="activity-header">Huntsman Marine Biology Course</h3>
            <div class="location-date">
              <p class="organization">OCSB</p>
              <p>|</p>
              <p class="start-date">Sep 2019</p>
              <p>-</p>
              <p class="end-date">Jan 2020</p>
            </div>
            <ul class="highlights">
              <li>
                Participated in several on-site lab experiments and expert
                lectures about the marine ecology of New Brunswick.
              </li>
            </ul>
          </div>
        </section>
        <section id="achievements">
          <h2 class="section-header">Achievements</h2>
          <hr />
          <div class="right-panel-list-item">
            <h2 class="section-header">Academic Honour Roll</h2>
            <p class="date">Jun 2021</p>
            <ul class="highlights">
              <li>Overall average above 80% grades 7-12.</li>
            </ul>
          </div>
        </section>
      </div>
    </main>
  </body>
</html>
